.App {
/*  text-align: center;*/
}

.App-logo {
/*  animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
  margin-bottom: 10px;
}

.App-header {
  background-color: #300075;
/*  height: 150px;*/
  padding: 20px;

}
.App-header a {
    color: white;
}

.App-title {
  font-size: 1.5em;
}
.App-title .logo-weight-normal {
    font-weight: normal;
}

.App-intro {
  font-size: large;
}

.logout {
    font-size: 0.85em;
    text-align: right;
    padding-top: 5px;
    color: white;
}

h6 {
  font-weight: bold;
}
small {
  color: #300075;
}
section {
  border-bottom: 1px solid #efefef;
  padding-top: 8px;
  padding-bottom: 16px;
}

.driver_name {
  color: #300075;
}
.reviews_short {
  padding: 4px 10px;
  background: #efe6fd;
  border: 1px solid #a97ef8;
  display: inline-block;
  color: #a97ef8;
  font-size: 0.8em;
  margin: 0 4px 8px 0;
}
.reviews_short p {
  padding: 0;
  margin: 0;
}

.star_rating {
  color: #300075;
}

.load-more {
  font-weight: bold;
  color: #a97ef8;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
    transform: translateY(-10%);
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 200ms ease-out;
}

.fade-exit {
    opacity: 1;
    z-index: 0;
    transform: translateY(10%);
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transform: translateY(0%);
    transition: all 200ms ease-out;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
